 
 $primary-color: palevioletred;
 $secondary-color: peachpuff;
 
 h1 {
     color: $primary-color;
     text-align: center;
     text-decoration: underline;
 }
 
 body {
     margin: 0;
     text-align: center;
     background: $secondary-color;
     color: $primary-color;
 }

 ul {
     color: $primary-color;
 }

 img {
     border-radius: 50%;
     max-width: 100%; 
     height: auto; 
 }
